.projects-table{

    margin-top:30px;

    background:#ffffff;

    padding:25px;

    border-radius:18px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.projects-table h2{

    margin-bottom:20px;

    color:#0F172A;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    background:#2563EB;

    color:white;

    padding:15px;

    text-align:left;

}

td{

    padding:15px;

    border-bottom:1px solid #E2E8F0;

}

tr:hover{

    background:#F8FAFC;

}